
<% if current_user%>
<li>
  <%= link_to current_user.username, current_user %>
</li>
<li>
  <%= link_to "Sign Out", session_path, method: :delete, class: "button" %>
</li>
<% else %>
<li>
  <%= link_to "Sign In", new_session_path, class: "button" %>
</li>
<li>
  <%= link_to "Sign Up", signup_path, class: "button"%>
</li>
<% end %>

<h2>Posts</h2>
<%= link_to "Add Post", new_post_path%>
<% @posts.each do |post|%>
  <div>
    posted by: <%= post.user.username%>
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>

    <%= link_to "#{post.comments.size} Comments", post %>
  </div><br>
<%end%>