
<div class="container">
  <div class="row mb-3">
    <div class="col">
      <%= link_to "New Post", new_post_path, class: "btn btn-primary float-right" %>
    </div>
  </div>
    <% @posts.each do |post|%>
        <div class="card mb-3">
          <div class="card-body">
            <span><small>Posted by: <%= post.user.username %> </small></span>
            <h3 class="card-title text-dark"><%= post.title %></h3> 
            <div class="border py-2 px-3 my-2">           
              <p class="card-text text-muted"><%=truncate(post.body, length: 500, separator: ' ') %></p>
            </div>
            <%= link_to "#{post.comments.size} Comments", post %>
          </div>
        </div>
    <% end %>
</div>


